[2019-01-04 19:48] abhijithvijayan opened #1 "restrict invalid urls"
restrict urls starting with `chrome://` from sending to shorten

[2019-01-04 21:20] abhijithvijayan commented on #1
https://github.com/abhijithvijayan/kuttUrl-Chrome/commit/88075b84fddd6f9d25157b41f2615807a7039b3a

[2019-01-04 21:20] #1 closed

[2019-01-05 09:39] abhijithvijayan opened #2 "Custom URL password options"

[2019-01-05 09:40] abhijithvijayan opened #3 "Custom Domain, password options"
and receiving api keys on the `options.html` page

[2019-01-05 09:41] #3 closed

[2019-01-05 17:17] abhijithvijayan opened #4 "User defined API settings page"

[2019-01-05 17:29] abhijithvijayan opened #5 "Replace extension icons"

[2019-01-05 18:50] abhijithvijayan opened #6 "Uncaught (in promise) Error: Attempting to use a disconnected port object"

[2019-01-06 03:45] abhijithvijayan opened #9 "Minifying Compiled CSS files"
Feature.

[2019-01-06 05:51] abhijithvijayan commented on #6
[No issue in Production Stage]

[2019-01-06 05:51] #6 closed

[2019-01-07 05:50] abhijithvijayan commented on #2
https://github.com/abhijithvijayan/kuttUrl-Chrome-extension/commit/fa5cf83c7dea45886da71f8f962aed21153a1f58

[2019-01-07 05:50] #2 closed

[2019-01-07 05:50] abhijithvijayan commented on #5
https://github.com/abhijithvijayan/kuttUrl-Chrome-extension/commit/609b135cee68e570d83bc09099e83e909106ea76

[2019-01-07 05:50] #5 closed

[2019-01-07 18:39] abhijithvijayan opened #10 "Remove CSS SourceMaps in Production"
OptimizeCssAssetsPlugin won't remove sourcemaps

[2019-01-07 19:16] abhijithvijayan commented on #9
https://github.com/abhijithvijayan/kuttUrl-Chrome-extension/commit/aae6bd85166fe4986ee9388b1a9a5c14ef29bd95

[2019-01-07 19:16] #9 closed

[2019-01-07 19:16] abhijithvijayan commented on #10
https://github.com/abhijithvijayan/kuttUrl-Chrome-extension/commit/11d7416daf96e6c20aa2b2149273f7912d0877cc

[2019-01-07 19:16] #10 closed

[2019-01-09 07:17] abhijithvijayan opened #13 "[Feature] On-installed Options Page"
Opening up options page on install for setting API key.

[2019-01-09 07:18] abhijithvijayan opened #14 "[Feature] Cross Browser Support"
Cross Browser Support

[2019-01-09 15:01] abhijithvijayan commented on #14
https://github.com/abhijithvijayan/kuttUrl-browser-extension/tree/webextension

[2019-01-09 16:12] abhijithvijayan commented on #14
Tested on Opera: ![opera](https://i.imgur.com/gQA80Xh.png)

[2019-01-09 16:34] abhijithvijayan commented on #14
@poeti8 Cross Browser Support is achieved. But it is not ready for Production due to deprecation of `sendResponse`. I'll keep on working it to make it entirely `Promise` based. The latest release was tested on major browsers and found working `ok`.

[2019-01-10 04:27] abhijithvijayan opened #16 "[BUG] Polyfill Code Duplication and Uglify JS issue"
[Bug]
separate file for webextension-polyfill(see comments in webpack.config.js) and fixing uglify js

[2019-01-10 04:29] abhijithvijayan opened #17 "[Feature ] node-kutt package"
replacing axios call with node-kutt package

[2019-01-10 05:51] #16 closed

[2019-01-11 07:43] abhijithvijayan commented on #14
https://github.com/mozilla/webextension-polyfill/issues/105

[2019-01-11 11:22] abhijithvijayan opened #20 "[BUG] Babel not transpiling es6 code"

[2019-01-11 11:40] abhijithvijayan opened #21 "[BUG] Babel Transpiling to browser versions"
Firefox: 52 -> Mar 7, 2017
Chrome: 55 -> Dec 1, 2016
Opera: 42 -> Dec 13, 2016

https://caniuse.com/#search=await

[2019-01-11 12:15] abhijithvijayan commented on #21
https://github.com/abhijithvijayan/kuttUrl-browser-extension/commit/fe510120a7b56da6eaefd933e0ccee411169f6b1

[2019-01-11 12:15] #21 closed

[2019-01-11 13:36] abhijithvijayan opened #22 "[Feature] Separate manifest.json files"

[2019-01-12 13:20] abhijithvijayan commented on #22
https://github.com/abhijithvijayan/kuttUrl-browser-extension/commit/6146d2a9df6d5e9534996fdb25334129a23074fc

[2019-01-12 13:20] #22 closed

[2019-01-13 08:03] abhijithvijayan commented on #14
[Status] Testing

[2019-01-13 10:57] abhijithvijayan commented on #14
Latest release https://github.com/abhijithvijayan/kutt-extension/releases

[2019-01-13 10:57] #14 closed

[2019-01-13 11:01] abhijithvijayan commented on #14
@poeti8 The latest stable release is released. The zip is generated with the build.

For uploading to the `firefox` store, the `manifest.firefox.json` should be updated with the `gecko id`.

Update each manifest file versions to `1.0.0` when it's production ready.
Please test  the latest release out. 💯

[2019-01-13 15:54] abhijithvijayan commented on #14
Firefox Add-on:  https://addons.mozilla.org/firefox/addon/kutt/

[2019-01-19 13:09] abhijithvijayan commented on #16
Ref: https://github.com/mozilla/webextension-polyfill/issues/105

[2019-01-28 21:09] aarjae commented on #17
I'd love to help with development for node, but what exactly are you trying to achieve?

[2019-01-29 02:05] abhijithvijayan commented on #17
@aarjae I was thinking of using this package for the api call.
https://github.com/ardalanamini/node-kutt

I'm not sure about the quality response of that package.

[2019-01-30 18:55] aarjae commented on #17
Oh okay, looks good. I will work on it :)

[2019-02-02 06:31] abhijithvijayan commented on #14
Tested for
- Firefox: 52 & 65
- Chrome: 49.0.2623.75 & 72.0.3626.81
- Opera: 36.0.2130.32 & 58.0.3135.53

[2019-02-02 20:33] aarjae commented on #17
Alright, I will work on it tonight

[2019-02-04 15:52] abhijithvijayan commented on #17
#27

[2019-02-04 15:52] #17 closed

[2019-02-05 06:11] abhijithvijayan opened #28 "history urls"
implementation of history page

[2019-02-05 13:12] abhijithvijayan opened #29 "Configurable Options"
- Auto Copy
- History(Incongnito Mode)
- Keyboard shortcut
- Context menu

Add On/Off switches too.

[2019-02-05 13:19] abhijithvijayan opened #30 "keyboard shortcut"
for shortening and copying to clipboard

[2019-02-05 13:20] abhijithvijayan opened #31 "Context menu"
on right click

`shorten with kutt`

[2019-02-05 13:33] abhijithvijayan commented on #31
Requires new permission

https://developer.chrome.com/extensions/contextMenus

[2019-02-05 13:39] abhijithvijayan commented on #28
https://developer.chrome.com/extensions/storage

[2019-02-10 05:08] abhijithvijayan commented on #28
https://github.com/abhijithvijayan/kutt-extension/pull/32

[2019-02-10 05:08] #28 closed

[2019-02-10 18:57] abhijithvijayan commented on #29
Auto copy, history, password https://github.com/abhijithvijayan/kutt-extension/pull/34

[2019-02-10 18:59] abhijithvijayan commented on #29
![}(https://i.imgur.com/KJ6SM1f.png)

[2019-02-12 20:17] poeti8 opened #35 "Improve "copied" text UI"
Change the text to "Copied to clipboard.", make the color the same green as in Kutt and move it to the top of the URL (absolute position). Also, a little bit smaller maybe.
Just to make it look more like Kutt's website and also to get rid of the glitchy feeling caused by the change in the height.

[2019-02-13 01:49] abhijithvijayan commented on #35
@poeti8 will do.

I managed to do that in the new history page.

[2019-02-13 14:44] abhijithvijayan commented on #35
https://github.com/abhijithvijayan/kutt-extension/commit/5bd82e40f9c1d26317554fdbdff2a42d73804ba7

![](https://i.imgur.com/OuYX2EU.png)

@poeti8 Please test out the new release 1.0.0.
It includes these features
- Save History
- Auto Copy Kutt URL

Publish to stores if you find everything as expected and asked.

[2019-02-13 14:54] abhijithvijayan opened #36 "[BUG] Auto clear history on save press"
To be fixed on a prior release due to issues that needs this to be set as such for now.

[2019-02-13 17:59] poeti8 commented on #35
Can you align with the URL, I mean, move it to the left.

[2019-02-14 03:21] abhijithvijayan commented on #35
![image](https://user-images.githubusercontent.com/34790378/52760473-a7e95f00-3035-11e9-879f-500b3dcbb828.png)

[2019-02-16 03:45] #35 closed

[2019-02-16 03:46] #29 closed

[2019-02-17 03:07] Relentlessy opened #37 "Regenerate Option"
1. When the link of long-website-name was created, show the link one and make a choice to "create new link" and "replace with new link (delete and generate the new one)"

(done) 2. Have an option, click the extension icon auto-generate and auto-copy link into clipboard

[2019-02-17 04:01] abhijithvijayan commented on #37
@Relentlessy

![2019-02-17_09-29-16](https://user-images.githubusercontent.com/34790378/52908191-a5397480-3296-11e9-8606-fae7ae0aba32.png)

Something like this might do. But doesn't the UI looks a bit cluttered?

[2019-02-17 04:56] abhijithvijayan commented on #36
Might be better to leave it as such as if user sets a new API key, history from point that will be saved.

[2019-02-17 04:56] #36 closed

[2019-02-17 07:56] Relentlessy commented on #37
It's look good!

[2019-02-17 08:00] Relentlessy opened #38 "Add custom link to extension"
User can change the generated link to their own if they user their own domain

[2019-02-17 08:08] abhijithvijayan commented on #38
You mean like custom kutt set up in their own servers and using api of that link?
or the domain feature within Kutt.it website?

[2019-02-17 08:25] abhijithvijayan commented on #38
I set up a domain in Kutt.it website and saved the api key generated with that account in extension.

The urls automatically shorten to the domain added.

![2019-02-17_13-51-26](https://user-images.githubusercontent.com/34790378/52910271-34f11a00-32bb-11e9-8d06-0ef36461e383.png)

If the user wants a url like **http://domain.com/example** with **example** as the custom keyword, user has to use the

[2019-02-17 08:38] poeti8 commented on #37
No it doesn't look good. Why want a button to regenerate? If you click on the extension's icon it's going to create another link anyway.
@abhijithvijayan If you want to add this feature a button just like the copy button but with a "refresh" icon would look better in my opinion. Maybe put it between current icons.

[2019-02-17 08:38] poeti8 commented on #37
No it doesn't look good. Why want a button to regenerate? If you click on the extension's icon it's going to create another link anyway.
@abhijithvijayan If you want to add this feature a button just like the copy button but with a "refresh" icon would look better in my opinion. Maybe put it between current icons.

[2019-02-17 08:39] Relentlessy commented on #38
Sorry for not clear. I mean when I generate the long link with my own domain and put on the custom word like https://pohui.net/mysteamprofile

But you're already explained it conflict with it extension ideal. Thank you :)

[2019-02-17 08:39] #38 closed

[2019-02-17 08:39] abhijithvijayan commented on #37
I don't see any use of this feature at all.

[2019-02-17 08:41] abhijithvijayan commented on #38
It can be done but will not be idealistic.

[2019-02-17 08:42] #37 closed

[2019-02-17 08:42] Relentlessy commented on #37
Ok

[2019-02-17 08:43] abhijithvijayan commented on #37
The features you mentioned are okay to work with but better left of with current ways. Anyway thanks for looking on to the extension. 👍

[2019-02-17 08:48] Relentlessy commented on #37
@abhijithvijayan If I find the way to make the extension better I will share my opinion to you :)

[2019-02-28 09:33] aarjae commented on #31
Adding an option on browser right click to shorten url would be really cool. What's the current progress on it?
Still help wanted?

[2019-02-28 10:46] abhijithvijayan commented on #31
@aarjae I was engaged with other projects.

You can give a PR if you managed to get it work. It needs context menu permission. Try it out.

[2019-03-03 04:37] abhijithvijayan opened #40 "Use bling.js for DOM manipulations / functions"
https://gist.github.com/paulirish/12fb951a8b893a454b32

[2019-03-03 05:15] #40 closed

[2019-03-03 06:08] abhijithvijayan opened #42 "fix dom flickering on copying"

[2019-03-03 06:24] abhijithvijayan commented on #42
Closing. Fixed on new release 1.0.3

[2019-03-03 06:24] #42 closed

[2019-03-08 00:44] xianx opened #43 "[Feature] Work with Self Hosted Kutt"
Hello,

Please add a config so the self host kutt (hosted on own cloud with own domain) can build extensions. config only need url of self hosted kutt.

[2019-03-08 02:04] abhijithvijayan commented on #43
@poeti8 What do you think of this?

[2019-03-30 05:22] abhijithvijayan commented on #43
@xianx I will work on it soon.

[2019-03-30 05:23] abhijithvijayan opened #44 "timeout issue on slower networks"
increase timeout time

[2019-03-30 17:20] abhijithvijayan commented on #44
Fixed #

[2019-03-30 17:20] #44 closed

[2019-05-10 03:40] #30 closed

[2019-05-10 03:41] abhijithvijayan commented on #31
Simple click n shorten is enough I guess

[2019-05-10 03:41] #31 closed

[2019-05-10 17:32] abhijithvijayan commented on #43
@xianx This feature is now successfully implemented. Please test it out when v2.0.0 is updated to stores.

[2019-05-15 18:11] uhlhosting opened #50 "[BUG] Invalid Response!"
<img width="1159" alt="image" src="https://user-images.githubusercontent.com/6324047/57798633-7c1d6880-774d-11e9-9750-c51c2b93329d.png">

I was just trying to test the beta extension on Nightly Firefox, and use Developer mode, test own instance at https://uhl.site . It fails as in screenshot.

[2019-05-15 22:39] abhijithvijayan commented on #50
This error response is when all the test case fails (status codes / valid response). Did you check your API status, see if it's working?

[2019-05-15 22:45] abhijithvijayan commented on #50
@uhlhosting Your instance of kutt doesn't allow CORS.

![chrome_2019-05-16_04-14-49](https://user-images.githubusercontent.com/34790378/57814442-439f7e00-7791-11e9-9c60-0364cafca4de.png)

[2019-05-15 22:53] abhijithvijayan commented on #50
Also the manifest is set to request links to kutt.it only. I will work on changing it.

[2019-05-15 23:17] abhijithvijayan commented on #50
@uhlhosting This should be fixed on release 2.0.1

[2019-05-15 23:26] abhijithvijayan commented on #50
![chrome_2019-05-16_04-44-50](https://user-images.githubusercontent.com/34790378/57815895-f0c8c500-7796-11e9-8b97-6b62450dcb0c.png)

[2019-05-16 04:33] uhlhosting commented on #50
@abhijithvijayan this works now great, I found that the function to automatically copy to clipboard, does not work, yet I do get a warning that it has been copied to clipboard on the extension.

Also would be great to have a feature to check if the current url was once shortened and to just reply with the original shortened url, to avoid entries on same address with several shortlinks, is no point

[2019-05-16 05:30] uhlhosting commented on #50
For example:
<img width="1000" alt="image" src="https://user-images.githubusercontent.com/6324047/57828638-6e4b0000-77ac-11e9-8122-1175ae30f340.png">
we can wee I made some tests and we have 3 sites different url shortened. Maybe just to seek if it was previously shortened and recover it, or cache it...

[2019-05-16 05:53] abhijithvijayan commented on #50
@uhlhosting please post the copy bug as a new issue. I will look on to that.

[2019-05-16 05:55] uhlhosting opened #51 "[BUG] Avoid URL DUPLICATES"
For example:
<img width="1000" alt="image" src="https://user-images.githubusercontent.com/6324047/57828638-6e4b0000-77ac-11e9-8122-1175ae30f340.png">
we can wee I made some tests and we have 3 sites different url shortened. Maybe just to seek if it was previously shortened and recover it, or cache it...

[2019-05-16 05:57] abhijithvijayan commented on #50
@uhlhosting about that, the feature could only be given as optional one as if the user intent to re-shorten it for some reason, it could affect user experience.

[2019-05-16 05:58] uhlhosting commented on #50
Would be great to have the option to Customize also URL's .

[2019-05-16 06:06] abhijithvijayan commented on #50
@uhlhosting if custom url is what you're referring to,

[2019-05-16 14:12] abhijithvijayan opened #52 "[BUG] Auto copy issue"
auto copy url doesn't work

[2019-05-17 04:26] abhijithvijayan commented on #50
[Fixed] See comment

 https://github.com/abhijithvijayan/kutt-extension/issues/50#issuecomment-492860301

[2019-05-17 04:26] #50 closed

[2019-05-17 04:30] uhlhosting commented on #52
This works sometimes not always, I am also testing Chrome/Opera . Any plans to add Safari support in future?

[2019-05-17 05:11] abhijithvijayan commented on #52
@uhlhosting Safari doesn't not support webextensions api yet. Apple is not part of the W3C group which attempts to make a cross browser standard. So maybe in the future, when safari does support it, extension will work on it flawlessly. Also the next version of Microsoft edge will based on Chromium and so it will support kutt-extension.

[2019-05-17 06:48] abhijithvijayan commented on #52
The issue is only with Firefox as I tested it out.

[2019-05-17 07:03] abhijithvijayan commented on #52
#53 Fixes this

[2019-05-17 07:03] #52 closed

[2019-05-17 07:27] abhijithvijayan commented on #43
Works from [Release 2.0.2](https://github.com/abhijithvijayan/kutt-extension/releases/tag/2.0.2)

[2019-05-17 07:29] abhijithvijayan commented on #51
The best way to solve this is to replace the short url of the previously shortened same long url with the latest short url. Let me look on to that.

[2019-05-17 12:08] #51 closed

[2019-05-17 21:00] uhlhosting opened #55 "[Check] Are the final releases available in their APP Stores?"
IE Is version 2.3.0 available on FF Chrome and Opera Stores?

https://addons.mozilla.org/en-US/firefox/addon/kutt/versions/

[2019-05-18 02:21] abhijithvijayan commented on #55
@uhlhosting, @poeti8 handles the store updates.

[2019-05-18 03:10] uhlhosting opened #56 "[Feature] Safari support?"
Since Safari is default OSX Browser, guess would be great to have kutt.it in it. I would be glad to help with debugging solving issues for such.

[2019-05-18 03:19] abhijithvijayan commented on #56
@uhlhosting I guess the extension has to be rewritten from scratch for safari.

I am not familiar with development for Safari.
If you are, I can create a new branch for you and you can start working on it?

[2019-05-18 15:53] uhlhosting commented on #56
@abhijithvijayan was thinking is similar to some of existing browsers. Not familiar with it either.

[2019-05-18 15:55] abhijithvijayan commented on #56
closing

[2019-05-18 16:03] #56 closed

[2019-05-21 01:27] uhlhosting opened #57 "[BUG] CORS Exclusion rules or some fix?"
I just enabled CORS in Kutt deployment for security testing. What ever is super funny that the plugin works fine from Firefox:
<img width="408" alt="image" src="https://user-images.githubusercontent.com/6324047/58061685-87bac600-7b77-11e9-90e7-548b738572d8.png">

Not working from Chrome / Opera.

[code]

[2019-05-21 04:55] abhijithvijayan commented on #57
@uhlhosting Please supply `http` or `https` to the devMode url. The extension requests permission to all `http` and `https` urls.

[2019-05-21 11:17] uhlhosting commented on #57
I did supplied https: .

[2019-05-21 11:18] uhlhosting commented on #57
The idea is this, what location exclusion should I have to add into CORS, to have the Chrome and Opera working, while like I said Firefox works fine. I am not sure what firefox does, yet it simply works.

[2019-05-21 15:24] abhijithvijayan commented on #57
This issue is only in development mode of Kutt right?

and the error shows that you have only enabled CORS via the core domain. In order to make the extension bypass CORS, you have to enable CORS from every source. Make changes to Kutt itself.

[2019-05-21 15:25] #57 closed

[2019-05-22 16:16] uhlhosting commented on #57
I am just wondering what is the incoming source for chrome so that it could be excluded.

[2019-05-22 17:54] TheNoim commented on #43
Why is this not just a addon setting? Why so complicated?

[2019-05-23 08:04] poeti8 commented on #55
Now, yes.

[2019-05-23 14:11] abhijithvijayan commented on #43
Originally this extension was written for Kutt.it and was aimed to be that way. Since so many users deploy kutt and wanted the extension from the store itself, I thought it could be a developer feature to work with the self hosts.

[2019-05-23 14:15] abhijithvijayan commented on #57
From what I guess, CORS must be allowed to all the source endpoints in order to make this work.

Also did you test the API using some api-client like PostMan or Insomnia in the development mode?

[2019-05-23 14:17] abhijithvijayan commented on #55
In chrome store too? I still see 1.0.3

[2019-05-23 14:28] abhijithvijayan opened #58 "[BUG] UI issues in Firefox"
Sometimes, extension popup shows blank screen till the url is shortened and updated to UI.

[2019-05-23 14:57] poeti8 commented on #55
Yes, Chrome takes more time now, because of the permission that we want to access, they require a manual review.

[2019-05-23 16:10] TheNoim commented on #43
Yeah, I obviously disagree with this. Why do I need to be a developer to use another host. Just make it a normal option. Maybe just label it as advanced.

[2019-05-23 16:30] abhijithvijayan commented on #43
Let me look on to that.

[2019-05-23 19:49] TheNoim commented on #43
Thanks, yes.

[2019-05-24 05:05] abhijithvijayan commented on #43
[v2.0.4](https://github.com/abhijithvijayan/kutt-extension/releases/tag/2.0.4) includes much more UI changes including this one.

[2019-05-24 05:05] #43 closed

[2019-05-24 05:05] #55 closed

[2019-05-24 21:56] uhlhosting opened #59 "[Feature] Show host domain specific items in UI"
In case one uses self hosted version of Kutt, would be great to have the linked url from
- Custom Host ([Advanced](https://uhl.site/)) -> API Key: [(Get one)](https://uhl.site/login) this for my example:

<img width="891" alt="image" src="https://user-images.githubusercontent.com/6324047/58358498-6ad80880-7e7f-11e9-9975-bfd69c84b1b1.png">

You can see there in the left corner the link sends me to

[2019-05-25 02:36] abhijithvijayan commented on #59
@uhlhosting This is better implemented if I decide to rewrite the extension in React framework. Otherwise it's better to leave it that way.

[2019-05-25 02:37] abhijithvijayan commented on #59
Extension requires a **custom API key** from the **custom host** itself if user is trying to use that option.

[2019-05-26 12:19] xianx commented on #43
@abhijithvijayan Though I am stated this topic but come after back a long time. Great improvements.

[2019-05-28 15:33] hmnd opened #60 "[Permission] Access to data for all websites"
Could you please explain why this change is necessary? I have stopped using this extension as a result of this change.
![Access to data for all websites](https://i.hmnd.io/yq71kyhe.png)

[2019-05-28 15:38] abhijithvijayan commented on #43
This feature will warn users of new permission to access all sites.

[2019-05-28 15:44] abhijithvijayan commented on #60
The latest update enables this extension to use with hosts other than Kutt.it. In order for that to work, the extension has to access all `http://*/` and `https://*/` hosts to request shortening.

It was set to `https://kutt.it/*` in the earlier versions.

See [this](https://github.com/abhijithvijayan/kutt-extension/commit/644ff25af1363f20c130b74641e61c1ce39f67fc) commit and [this](https://github.

[2019-05-29 00:18] YouTwitFace commented on #60
@abhijithvijayan I like the idea but I don't think that requesting this permission is a good idea.

[2019-05-29 00:54] abhijithvijayan commented on #60
@YouTwitFace Literally almost all url shorteners out there, request this permission.

Inspect the manifest json of [this](https://robwu.nl/crxviewer/?crx=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fone-click-url-shortener%2Ffjnodoodcohggdkacpmiidjikhlihcdk)

[2019-05-29 01:00] YouTwitFace commented on #60
@abhijithvijayan that still doesn't change my mind.

[2019-05-29 01:19] abhijithvijayan commented on #60
@YouTwitFace The whole idea of Kutt is an open source url shortener for all. I just made the extension to work with the custom host. I even found that some hosts can give **response in under a second**.

Take uhl.site for instance. Sign up and test it out yourself to see if it was worth it.

[2019-05-29 01:23] YouTwitFace commented on #60
@abhijithvijayan
![change my mind](https://user-images.githubusercontent.com/32808683/58522515-ba277d00-818e-11e9-8ffa-59f7fe72edeb.png)

[2019-06-02 09:44] poeti8 commented on #43
Can we prevent this somehow?

[2019-06-02 11:25] abhijithvijayan commented on #43
@poeti8 Only if we remove the feature in the next release. Also I don't see that much of difference in the weakly users count after the release.

Most of the extensions come with access to all the sites. You could update the description in the stores about the new permission warning.

[2019-06-04 03:32] abhijithvijayan opened #62 "remove node-kutt and revert to axios"
revert https://github.com/abhijithvijayan/kutt-extension/pull/27 pull request

[2019-06-05 15:32] abhijithvijayan opened #63 "Edge Browser Support | Add to readme"
The latest dev build of Edge Browser(based on Chromium) supports the extension and works flawlessly.
It can be installed from Chrome store like for Opera.

Adding the instructions for installation and also adding edge to supported browsers list to readme.md with correct version.

[2019-07-01 14:31] abhijithvijayan opened #64 "[BUG] Reloading on developer mode in browser can't fetch current page url and results in infinite loading..."
add an if condition to https://github.com/abhijithvijayan/kutt-extension/blob/32a327cbf99eb9bc199987e91d9c26337a036538/src/scripts/popup.js#L137 and update dom if array doesn't exist.

[2019-07-02 19:36] #64 closed

[2019-07-02 19:36] #62 closed

[2019-07-02 19:50] #63 closed

[2019-07-02 21:11] abhijithvijayan opened #65 "[Release]"
New release is here.

[2019-07-04 01:41] uhlhosting opened #66 "[BUG] Fix the custom url trail causing error"
When a user uses local kutt server and goes in address with a / it will fail to work, maybe a fix for this is not hard, a website would normally resolve both / and non trailing addresses.

[2019-07-04 04:22] abhijithvijayan commented on #66
@uhlhosting please provide a test case.

[2019-07-04 05:25] #66 closed

[2019-07-04 09:22] abhijithvijayan commented on #66
@uhlhosting Please test out the new release and if that doesn't resolve the issue, feel free to reopen the issue again

[2019-07-18 05:53] abhijithvijayan commented on #60
Closing.

[2019-07-18 05:53] #60 closed

[2019-09-25 02:59] abhijithvijayan commented on #65
@poeti8 v3.0.2

[2019-10-21 04:01] #58 closed

[2019-11-07 14:31] abhijithvijayan opened #70 "Release"
3.1.1 is released.

@poeti8

Store is behind 4 versions

[2019-11-22 18:31] abhijithvijayan opened #71 "[refactor] redesign user interface"
![Screenshot from 2019-11-22 23-58-21](https://user-images.githubusercontent.com/34790378/69450843-10632a80-0d84-11ea-8ca7-920e815438cd.png)

- [ ] Access Settings / History On Right Click On Firefox
- [x] Option to Set Custom URL (User Specific)
- [x] Option to Disable Auto Shortening
- [x] Show Link to Dashboard
- [ ] Right Click on Links Showing Shorten Options

[2019-12-03 11:55] poeti8 commented on #70
Oops, ok will do soon.

[2019-12-04 14:54] poeti8 commented on #70
@abhijithvijayan Get this warning from Chrome store:

<img width="596" alt="image" src="https://user-images.githubusercontent.com/23660003/70152912-47f69e80-16c3-11ea-9378-3d7d838afd84.png">

[2019-12-04 14:57] abhijithvijayan commented on #70
So, sorry about that.

I am not sure what happened there.

Please delay the upgrade until I figure out what caused this error.

[2019-12-04 15:00] abhijithvijayan commented on #70
Its a new warning as well as a suggestion raised ny chrome store.

I didn't change any permission since the last release

They are suggesting to use activeTab permission instead of Tabs permission.

I will accept the recommendation and switch to using it and test the new permission and will release it soon.

Will notify you once completed.

[2019-12-04 15:02] poeti8 commented on #70
Yes got the warning for previous versions too but didn't see activeTab suggestion, I thought it would be useful.

[2019-12-12 15:03] abhijithvijayan commented on #71
Features like custom url shortenining requires much more validation(should throw error if already taken and all). This is not good for the minimal UI the extension has.

The purpose of this extension is to shorten on click so disabling autoshortening doesn't seem like a good choice.

Maybe if that feature is added, the custom url shortening could be implemented easily

[2019-12-12 15:41] abhijithvijayan commented on #70
@poeti8 I have changed `tabs` permission to `activeTab` and also refactored some code.

Even still, google might warn about broad host permissions as using `https://*/*` and `http://*/*` is required for the extension to request data to custom host api endpoint.

Ignore the warning if it shows up.

Please do update both the stores with version **3.2.1**

Thanks

[2019-12-14 16:23] poeti8 commented on #71
In future I'm going to add a ability to allow multiple custom domains for each user. So the extension would need to allow the user to select custom domain.

[2019-12-14 16:33] poeti8 commented on #70
Submitted, thanks. And yes, still got the warning, it's not important at this point, the review just might take longer.

[2019-12-14 17:01] #70 closed

[2019-12-14 17:22] abhijithvijayan commented on #71
@poet I co do that. But I need some UI Ideas and also recommendations on implementing this feature.

The UX must be better than those available in the store with such features as well.

Also, I will maybe rewrite it using react.

[2019-12-15 11:22] poeti8 commented on #71
Great, I'll be in touch with you soon, I can do a design.

[2020-01-15 01:47] abhijithvijayan commented on #71
@poeti8 any updates on this?

[2020-01-15 01:50] abhijithvijayan opened #72 "Migrate to React with TypeScript"
UI seems to be OKAY for now.
For the scalability factor & maintainability, it is better to use React.js with TS features

[2020-01-15 17:10] poeti8 commented on #71
Here's is what I came up with quickly as I'm working on API v2, feel free to adjust spacing, font-size and etc.

Domain should be a dropdown of user domains (kutt.it should be default). Domains can be fetched via `/settings`, can be fetched every time or we can save it and have a refresh button along side settings to refresh data.

<img width="509" alt="image" src="https://user-images.githubuserco

[2020-01-16 00:34] abhijithvijayan commented on #71
@poeti8 Thanks

And please attach the next pages & functionalities whenever you are okay with.

[2020-01-16 23:19] abhijithvijayan commented on #72
Branch: https://github.com/abhijithvijayan/kutt-extension/tree/refactor/react-typescript

[2020-01-23 04:10] abhijithvijayan opened #73 "[feat] Build fonts locally"
Include local font files

[2020-01-27 03:21] abhijithvijayan opened #74 "use yarn 2"
https://yarnpkg.com/getting-started/usage

[2020-01-27 16:28] abhijithvijayan commented on #74
yarn v1 is now set to use as default.
if local machine has yarn 2.x.x, it will still use v1

Later, when yarn2 resolves many issues, migration can be completed.

[2020-01-27 16:28] #74 closed

[2020-01-27 16:29] abhijithvijayan commented on #72
Basic boilerplate set up has been done.

[2020-01-30 08:27] abhijithvijayan commented on #71
@poeti8

I have started working on this and was wondering if you could help with the UI.

Just the design is enough for now.

I was wondering what the next screen after user clicks on it is to look like.

I was thinking having the qr code/copy buttons and maybe a back button or something.

Please do attach the designs you are looking for.

[2020-01-30 08:29] abhijithvijayan commented on #71
Also, the options page needs new design as well.

History page seems good enough I guess.

[2020-02-03 09:10] kmanojkumar opened #76 "Feature: custom url shortening"
I see that there is no option to set any custom URL, only the generated one has to be used? This doesn't solve the complete purpose.

A great extension, though! Thanks @abhijithvijayan!

I would highly appreciate it if you can come up with this solution.

[2020-02-03 11:06] abhijithvijayan commented on #76
Actually, the extension is under huge refactoring.

This feature is also in the roadmap.

[2020-02-03 11:08] abhijithvijayan commented on #76
For the progress, see https://github.com/abhijithvijayan/kutt-extension/tree/refactor/react-typescript

[2020-02-04 05:34] abhijithvijayan opened #77 "migrate to v2 api for link shortening"
- [x] issue a warning message to users(who have set up custom target) about upgrading `kutt` shortener to [`v2 API`](https://github.com/thedevs-network/kutt)

If you have the warning message appear like this
![Screenshot from 2020-02-05 06-55-57](https://user-images.githubusercontent.com/34790378/73802847-e2b74a80-47e4-11ea-9139-361b5f21c640.png)

Please migrate to kutt.it v2 [latest release](http

[2020-02-04 05:35] abhijithvijayan commented on #77
The refactored extension will by default use kutt v2 api.

[2020-02-04 06:06] abhijithvijayan commented on #77
@poeti8

Could you clarify these for the extension to work?
- Route for validating api key(with user details returned)
- do I need to prefer v2 links api over v1 shorten api route?
- Correct Route & Response body format of `settings` route you talked about

[2020-02-04 06:50] poeti8 commented on #77
@abhijithvijayan Here's the new API:
https://app.swaggerhub.com/apis/poeti8/Kutt/2.0.0

Let me know if need something,

[2020-02-04 06:51] poeti8 commented on #77
Use `/users` and see if response is 200 or 401.

Yes, from now on only use v2

You can see `/users`, let me know if something is missing.

[2020-02-04 07:01] abhijithvijayan commented on #77
Migrating v1 api to v2 in the extension will introduce breaking changes for the users who have set up the extension to use with custom kutt.

I will release a version that will warn all custom-host users to upgrade their version of kutt to v2 as soon as possible.

The extension from v4.x.x(react version) will use kutt v2 by default.

I will notify you about the patched release of v3.x.x version

[2020-02-05 01:26] abhijithvijayan commented on #77
@poeti8 The patched release v3.2.2 is now ready to be published to stores.

It will warn the self hosted kutt users about v2 API

![Screenshot from 2020-02-05 06-55-57](https://user-images.githubusercontent.com/34790378/73802781-b0a5e880-47e4-11ea-9989-14ac92c5222b.png)

[2020-02-05 08:40] abhijithvijayan commented on #77
![Screenshot from 2020-02-05 14-08-23](https://user-images.githubusercontent.com/34790378/73825000-321b6c00-4821-11ea-8afb-64ba2bb0eb14.png)

[2020-02-05 15:11] poeti8 commented on #77
I think it's case sensitive, would you try `X-API-KEY`?

[2020-02-05 21:31] abhijithvijayan commented on #77
@poeti8 still it doesnt work!!

[2020-02-06 08:05] poeti8 commented on #77
Pushed a fix, try again now.

[2020-02-07 05:33] abhijithvijayan opened #78 "provide seamless migration for existing users to upcoming major version"
- [x] Set up a function to update extension settings (from browser local storage)
to the new settings keys
Map the keys like `autoCopy : true` to the new
[code]
on the installation / initialization of new major version.

- [ ] Remove this feature after all the users have switched to the new major version

Without this mapping, the extension will UX issues for those who are using it currently.

[2020-02-07 15:50] poeti8 commented on #77
Any news on when it's going to be available? People are emailing me about this.

[2020-02-07 16:00] abhijithvijayan commented on #77
I am working on it in the spare time.

I am trying to not break things(like existing features and keys stored in users browser storage to the latest scheme)

It would be a great help if you could work on the design(only the UI part)

Maybe just after I complete the basic features(it will be completed soon)

[2020-02-07 16:02] abhijithvijayan commented on #77
Seamless migration is what I am hoping for.

Some additional one time scripts are also to be added(to be removed once the new version reaches all users)

[2020-02-07 16:41] poeti8 commented on #77
I wouldn't care about old links in the table, we can delete them. Not even sure if need a history table, even if needed so, can call the API to get latest links.

[2020-02-07 16:42] abhijithvijayan commented on #77
That sounds better.

I haven't started on anything other than popup & options page

[2020-02-08 05:31] abhijithvijayan commented on #77
@poeti8 The popup menu functionalities are almost complete(with styling & few more things to take care of)

Could you share UI for the screen to show after shortening(with short url / copy button / qr code button / maybe a back button as well) ?

[2020-02-09 04:27] abhijithvijayan opened #79 "useEffect cleanup issue"
![Screenshot from 2020-02-09 09-56-19](https://user-images.githubusercontent.com/34790378/74096258-87f25b80-4b22-11ea-9362-3d4d49f69590.png)

[2020-02-09 04:34] #79 closed

[2020-02-09 22:26] #72 closed

[2020-02-09 22:31] abhijithvijayan commented on #77
@poeti8 The [release 3.2.2](https://github.com/abhijithvijayan/kutt-extension/releases/tag/3.2.2) is not yet available in stores. Is there something wrong?

The new redesigned version will be soon up for testing & releasing which will use v2 API by default.

[2020-02-10 17:15] poeti8 commented on #71
<img width="766" alt="image" src="https://user-images.githubusercontent.com/23660003/74172829-29be9900-4c46-11ea-962b-e81840e2fbae.png">

I just made a quick reference, please make sure the styles and colors for the kutt.it link and the copy icon and animations match the one in the Kutt.it website.

[2020-02-10 17:23] poeti8 commented on #77
Seems like the version is still 3.2.1, please bump up and I'll submit.

[2020-02-11 00:41] abhijithvijayan commented on #71
I actually had a different design in mind.

The form is hidden in the popup after shortening with a back button to go to form view.

Also, I will be putting a qrcode button as well.

About the styling and animation, would you be willing to submit a PR with the styling and animation after I finish the rest of the features it already has in store?

[2020-02-11 01:20] abhijithvijayan commented on #77
Download it from https://github.com/abhijithvijayan/kutt-extension/releases/tag/3.2.2

The travis build override the build in `extension` branch with build from the new typescript release

So use the one from the link above for publishing

[2020-02-11 07:20] poeti8 commented on #71
I'd rather to keep it simple, going back and forth between pages is not a good UX in my

Please make sure everything matches the design, except copy icon and link style, which as I said replicate the one in kutt.it:

<img width="300" alt="image" src="https://user-images.githubusercontent.com/23660003/74217113-d5ee9700-4cbb-11ea-9902-80563ef7cf8e.png">

By the way, feel free to ping me on telegram

[2020-03-07 02:03] Shifty-1337 opened #82 "Custom URL not working."
Irrelevant.
Closing.

[2020-03-07 02:11] #82 closed

[2020-03-07 02:13] abhijithvijayan commented on #82
It is a feature that is to be released in the major version.

It has been implemented and is a work in progress.

[2020-03-08 19:06] abhijithvijayan commented on #76
https://camo.githubusercontent.com/38b402a28ef4833a4e91e07012620b4c56cb7513/68747470733a2f2f696d672e736869656c64732e696f2f6769746875622f72656c656173652f616268696a69746876696a6179616e2f6b7574742d657874656e73696f6e2e7376673f636f6c6f72423d626c7565

[2020-03-08 19:07] abhijithvijayan commented on #76
Available from v4.0.0-beta.1

[2020-03-08 19:07] abhijithvijayan commented on #76
https://github.com/abhijithvijayan/kutt-extension/releases/tag/4.0.0-beta.1

[2020-03-08 19:07] #76 closed

[2020-03-08 19:07] abhijithvijayan commented on #59
Available from v4.0.0-beta.1

https://github.com/abhijithvijayan/kutt-extension/releases/tag/4.0.0-beta.1

[2020-03-08 19:07] #59 closed

[2020-03-08 19:08] abhijithvijayan commented on #77
Extension from V4.0.0-beta.1 uses v2 api

https://github.com/abhijithvijayan/kutt-extension/releases/tag/4.0.0-beta.1

[2020-03-08 20:00] abhijithvijayan opened #83 "[BUG] travis build fails for chrome browser"
Error in webpack config file on function call

[2020-03-09 13:49] abhijithvijayan commented on #83
![Screenshot_20200309_191927](https://user-images.githubusercontent.com/34790378/76218858-eeaa8800-623a-11ea-9fd5-12639d940344.png)

[2020-03-09 13:55] abhijithvijayan commented on #83
migrate to https://www.npmjs.com/package/fork-ts-checker-webpack-plugin

[2020-03-09 14:45] #83 closed

[2020-03-09 15:28] abhijithvijayan opened #84 "ts-loader breaks bundle | use babel-loader(supports typescript by default from v7)"
- drop ts-loader
- use babel-loader with typescript & react presets
- use class plugin for babel

[2020-03-09 17:55] #84 closed

[2020-03-09 18:19] abhijithvijayan opened #85 "attach domain field to shorten request data packet"
restore when https://github.com/thedevs-network/kutt/issues/287 is resolved

[2020-03-09 18:26] abhijithvijayan commented on #78
Current fields in local storage of almost all users

[code]

Migrate to

[2020-03-09 19:43] abhijithvijayan commented on #78
Migration actions are performed **once** on popup open(once extension is updated to v4.x.x) if previous keys exist on browser local storage.

The code can be removed once all the users receive the update.
I have tested with basic options enabled as well as advanced options(like custom host) enabled. It works. :)

I will leave this issue open if someone runs into issue on migration.

[2020-03-09 20:51] abhijithvijayan commented on #77
Check for a 404 error on url shortening, show custom error

[2020-03-10 08:25] #77 closed

[2020-05-04 16:11] abhijithvijayan opened #87 "Use Context API"
A few components and lots of props.

Use Context :)

[2020-05-04 16:15] abhijithvijayan opened #88 "Remove formik"
There are only few inputs, remove formik and use [react-use-form-state](https://www.npmjs.com/package/react-use-form-state) instead

[2020-07-01 14:11] abhijithvijayan opened #89 "Use tailwindcss"
with twin.macro and styled-components

[2020-07-05 18:44] abhijithvijayan commented on #89
e35a081c10b11e3e7a1dcf443c3df0090977bc82

[2020-07-05 18:44] #89 closed

[2020-07-05 18:46] abhijithvijayan commented on #87
Checkout https://github.com/abhijithvijayan/kutt-extension/tree/context

[2020-07-08 07:24] abhijithvijayan commented on #87
#90

[2020-07-08 07:24] #87 closed

[2020-07-08 07:25] #88 closed

[2020-07-08 07:26] #71 closed

[2020-07-08 17:35] #85 closed

[2020-07-08 17:38] abhijithvijayan commented on #85
As a workaround, the request body is not set to send field `domain` if it is same as the Host domain

For example, if the default host url is `https://mycustomkutt.it` and user opts this domain in the select menu, the `domain` field is not attached to the API request body.

[2020-07-09 06:05] abhijithvijayan opened #91 "Clicking on inputs closes Popup in Firefox on OSX"
This weird behaviour is due to a bug in Firefox on OSX.

Related issues:
- https://stackoverflow.com/questions/37207533/why-id-chrome-extension-popup-closing-on-input-autocomplete-suggestion-click
- https://github.com/bitwarden/browser/issues/580

Workaround:
- Wrap the inputs with label element and set absolute positioning to the input
(ref: https://stackoverflow.com/questions/40339951/clicking-o

[2020-07-09 08:14] abhijithvijayan commented on #91
I guess this might work
- wrap the input in the label element
- absolute position input
- block position label
- create another div with text input appearance that just shows the input value(this is to hide the input with `z-index: -1`)

[2020-07-09 14:58] #91 closed

[2020-07-09 17:14] abhijithvijayan opened #92 "popup scales and stays after qrcode is shown and hidden"
Occurs on both firefox and chrome

![Screenshot_20200709_224251](https://user-images.githubusercontent.com/34790378/87069984-bd1bea80-c235-11ea-925e-6671930463ae.png)

- [x] Firefox
- [ ] Chrome

[2020-07-10 08:09] #92 closed

[2020-07-10 08:27] abhijithvijayan opened #93 "Add an onInstalled page"
A page to show the instructions to get the API key

And also the instructions if the user uses custom host.

[2020-07-13 19:05] abhijithvijayan opened #94 "protocol is missing for the clipboard url"
https is trimmed out

[2020-07-13 20:26] #94 closed

[2020-07-18 20:36] mrmmg opened #95 "[BUG] Chrome Extention"
Hi, the last kuttit chrome extension **doesn't add `https://`** in the first of link and when I share the link anybody must copy and paste it into the browser and the **link is not touchable**.

for example in discord:
[see this image](https://bit.ly/32yTPeq)

please fix this issue.
**Thanks, MMG**

[2020-07-18 21:59] abhijithvijayan commented on #95
Duplicate of #94

[2020-07-18 22:02] abhijithvijayan commented on #95
Thanks @mrmmg for the issue.

This was brought earlier to notice in #94 and was fixed in `v4.2.0`

I have fixed the issue and released a new version a couple of days ago.
The store version, by kutt author's information, will be up on the stores soon.

Sorry for the inconvenience caused with the major release.

[2020-07-18 22:04] mrmmg commented on #95
Nice, Thanks you

[2020-07-18 22:04] #95 closed

[2020-07-18 22:05] abhijithvijayan commented on #95
Feel free to rate on stores about the new release. :smile:

[2020-07-20 09:00] abhijithvijayan commented on #95
@mrmmg Updated on stores.

[2020-07-20 09:01] abhijithvijayan commented on #94
Fixed in 4.2.0

[2020-07-28 07:33] 8227846265 opened #96 "[ Feature Request ] Short Link Copied Automatically"
Hello, thank you for developing Kutt.

I just would like to request if you can add a feature wherein on the Settings, you can enable an option wherein once the link has been shortened, it's automatically copied to your clipboard.

That way, the user only needs to paste the shortened link easily.

[2020-07-28 07:53] abhijithvijayan commented on #96
Hello there, this has already been done in the previous version(`v3`) of Kutt, but was removed in `V4` due to some concerns regarding how web extensions should work.

It is recommended to access or manipulate clipboard state with a user interaction(mouse click or something else). In the previous version the interaction was mocked and auto copied to clipboard.

Anyways, the version was released a c

[2020-07-28 07:57] abhijithvijayan commented on #96
Also, the url is copied to clipboard on button click as well clicking on the shortened url.

[2020-07-28 07:59] abhijithvijayan commented on #96
@poeti8 what do you think?

[2020-07-28 08:01] poeti8 commented on #96
If it's convenient and doesn't cause problems when we publish the store, we can add the option to settings so they can enable.

[2020-11-27 13:44] LeonPro12 opened #98 "Firefox custom domains not showing up"
I have a custom domain set up. When I use the Firefox extension it does show up as a blank url (it works when I selected).

[2020-11-27 14:23] abhijithvijayan commented on #98
Could you send me a token and custom domain set up

[2020-11-27 15:47] LeonPro12 commented on #98
How? Via E-Mail?

[2020-11-27 16:14] abhijithvijayan commented on #98
Attach the png clip here.

[2021-01-22 06:46] JIPrettyCool opened #102 "Verification Mail"
i tried to sign up your website but I didn't receive any verification mail

[2021-01-22 07:16] #102 closed

[2021-02-01 18:12] abhijithvijayan opened #103 "Use optional chaining"
for mainly localStorage fields retrieval

[2021-04-03 18:05] poeti8 opened #110 "Can not shorten IP"
Can not create short URLs for IPs. it is considered as valid URL on Kutt API but the extension does not allow it.

[2021-04-04 06:15] abhijithvijayan commented on #110
@poeti8 the current validation was done to avoid shortening internal browser URLs(`chrome://flags`)
i will keep the server side validation as such for the client.

[2021-04-04 06:16] abhijithvijayan commented on #98
@LeonPro12 ^^

[2021-04-04 06:16] #98 closed

[2021-05-13 11:36] #103 closed

[2021-06-23 20:29] abhijithvijayan commented on #110
@poeti8 fixed in f94479e9a9af9ddd41d5cc85ffcb44bdbd9ff422

[2021-06-23 21:16] abhijithvijayan commented on #110
can be released in the next feature release

[2021-06-23 21:16] #110 closed

[2021-06-24 08:47] abhijithvijayan opened #116 "[REFACTOR] Replace tailwindcss macro with postcss + sass setup"
^^

[2021-07-10 12:45] mimalef70 opened #117 "[BUG] Duplicate short link with extension"
Sometimes ( and I don't know when! ), extensions create duplicate short links;
please see the screen record:

https://user-images.githubusercontent.com/17767869/125163422-57dd3b00-e1a2-11eb-926d-0c8316eb00fb.mov

[2021-07-10 13:49] abhijithvijayan commented on #117
Will check this

[2021-07-12 11:43] mimalef70 commented on #117
Hi, Can you find a problem?

[2021-07-14 15:09] mimalef70 opened #118 "History Page"
Hello,

where is the history page ? I can't find it. I use chrome extension

[2021-07-14 15:24] abhijithvijayan commented on #118
Hello there, I didnt really get the time to release that feature out.

Currently its on beta, I will get it released probably this weekend.

[2021-07-14 15:25] abhijithvijayan commented on #117
Will try to work on this, this weekend.

[2021-07-16 11:30] enoy19 opened #119 "Custom Domains not displaying"
The custom domains are not shown in the Dropdown.
I am hosting Kutt myself on the latest docker image.
![image](https://user-images.githubusercontent.com/24529735/125940798-85993339-a03b-42e5-97d7-677f89a7197b.png)
![image](https://user-images.githubusercontent.com/24529735/125940858-d4c09bfd-9ea2-466c-8967-b2669a00e2f5.png)

[2021-07-16 11:32] abhijithvijayan commented on #119
You have to manually configure it in extension settings.

Just enable advance mode and type in the custom domain. Thats it.

[2021-07-16 11:37] enoy19 commented on #119
thanks for the rapid answer. I configured my kutt server in the advanced options.
the problem is that the custom domains are invisible / "empty strings" in the dropdown.

[2021-07-16 11:38] abhijithvijayan commented on #119
Try going to the extension settings page and see if the domain is still shown there.

[2021-07-16 11:38] enoy19 commented on #119
my kutt works with 4 different domains.
the default one and 3 extra.
Do I need to reconfigure it to use one of the 3 custom domains?
isnt that what the dropdown is for?

[2021-07-16 11:41] enoy19 commented on #119
![image](https://user-images.githubusercontent.com/24529735/125942237-859eed8d-dd8e-4133-84f7-c7098850e7e1.png)

[2021-07-16 11:42] enoy19 commented on #119
I've already set my **custom host**

[2021-07-16 11:44] enoy19 commented on #119
I am able to create a link but I have to guess which one is the correct custom domain.

![image](https://user-images.githubusercontent.com/24529735/125942486-6935e252-b41f-450b-98b6-8343238385c7.png)

[2021-07-16 11:48] abhijithvijayan commented on #119
So the only problem now is, you are seeing empty strings in the dropdown for all the domains you have configured, right?

And you are able to shorten using all the custom domains.

I will look into this later.

[2021-07-16 11:55] abhijithvijayan commented on #119
Please acknowledge the above scenarios if it is right.

[2021-07-16 11:57] abhijithvijayan commented on #119
Try validating the key once again or press the refresh icon in popup,

If it didnt work still, i will check

[2021-07-16 12:02] enoy19 commented on #119
correct

[2021-07-16 12:03] enoy19 commented on #119
I tried refreshing but it didn't work. I also tried  restarting chrome. didn't work either

[2021-07-17 13:49] eazyAlf commented on #119
same here, empty strings

![image](https://user-images.githubusercontent.com/58122515/126039128-f11b3d23-702d-4d0b-9032-55c487009c3d.png)

[2021-07-17 14:18] abhijithvijayan commented on #119
Can you share a disposable credentials for me to debug these?

Currently I dont have a custom host setup with custom domains.

[2021-07-18 05:14] abhijithvijayan commented on #119
@enoy19 / @easyAlf

[2021-07-19 14:54] mimalef70 commented on #118
Great, ty :)

[2021-07-19 14:56] mimalef70 commented on #117
Ty, I think this issue is on server side, I couldn't figure out it.

[2021-07-19 15:03] mimalef70 commented on #119
I fix this issue, it's because you use {option} to the select box;
I fix this with this code in line 225 ( Form.tsx )

[code]

[2022-01-31 21:14] jtsiskin commented on #96
I would love it if just clicking the extension symbol automatically created a link and copied it to my clipboard, not even opening the window.
One click instead of 3

[2022-05-11 07:38] OverlordAdmin commented on #117
I've got the same issue. Every time I create a new URL using the browser extension, the link is created twice on the server.

[2022-07-10 10:53] adan89lion opened #127 "Kutt Extension has been flagged and disabled by Chrome Web Store"
Description:
Kutt Extension has been automatically disabled (and locked) on my Edge browser on macOS on July 10th, 2022. Its page on Chrome Web Store has also been removed. (I've attached the screenshot of the alert on Edge browser).
<img width="783" alt="Screen Shot 2022-07-10 at 12 46 42 PM" src="https://user-images.githubusercontent.com/6585644/178141766-64bbc3a2-845f-4f3b-9e28-21d5e11f87a8.png

[2022-07-11 08:51] lukasgabriel commented on #127
I also noticed this yesterday on Edge.

**The extension was also removed from the Firefox Addon Store: https://addons.mozilla.org/firefox/addon/kutt/**

Can anyone provide info about whether this is a false positive and the extension can safely be re-enabled, or is there actually malware present? Is there any reason to also be worried about the main repo? I've shut down my self-hosted Kutt instanc

[2022-07-12 23:57] hammady commented on #127
How is this report related to the kutt server itself? It seems to be a different repo. We need a prompt explanation in case the kutt server has serious security issues and must be taken down.

[2022-07-21 15:19] imakiro commented on #127
No update on the rejection from stores, bugfix releases ?

[2022-07-30 09:11] abhijithvijayan commented on #127
@poeti8 any ideas on what caused the rejection?

[2022-08-28 22:11] Tnology commented on #127
Any update on this? I just got my selfhosted Kutt service up and running, and I'm super excited to use this (especially for custom domains like [my domain].com/apply alongside all of the other useful features).

[2022-09-04 05:05] poeti8 commented on #127
@abhijithvijayan This is the email I got from Firefox:

[2022-09-29 05:16] abhijithvijayan commented on #127
will migrate to v3 soon and we can go ahead with the release which would resolve this.

[2022-10-26 18:58] abhijithvijayan commented on #127
this is blocked on the migration of the plugin i wrote to support webpack 5. https://github.com/abhijithvijayan/wext-manifest-webpack-plugin

Webpack has introduced major breaking changes and deprecated APIs relied on by the plugin. Once I manage to get it migrated, I will pick this issue up.

[2022-10-27 10:01] poeti8 commented on #127
Can't we use something else for now? Or take another approach?

[2022-10-27 18:44] lukasgabriel commented on #127
@poeti8 You can still use the plugin just fine.

[2022-11-25 21:59] brianantonelli commented on #127
No, you can't use it just fine. It's missing from the store.

[2022-11-26 05:34] poeti8 commented on #127
You can use it if you have already installed it.
I'll check with the issue myself soon, seems like @abhijithvijayan doesn't have free time.